<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='../css/font-awesome.min.css'>
        <link rel='stylesheet' href='../css/pcfw.css'>
        <link rel='stylesheet' href='../css/gui.css'>
    </head>
    <body id="main" class="test-enabled">
        <div class="container-fluid">

        </div>

        <script src="../js/jquery.min.js"></script>
        <script src="../js/tether.min.js"></script>
        <script src="../js/pcfw.js"></script>
    </body>
</html>
