<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="grandtheftmultiplayer.api" version="0.1.513.481" targetFramework="net452" />
  <package id="grandtheftmultiplayer.typescript" version="0.1.12" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NLog" version="4.4.12" targetFramework="net452" />
</packages>