<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='../css/font-awesome.min.css'>
        <link rel='stylesheet' href='../css/pcfw.css'>
        <link rel='stylesheet' href='../css/gui.css'>
        <link rel='stylesheet' href='../css/clothes.css'>
        <link rel='stylesheet' href='../css/bodyparts.css'>
    </head>
    <body id="main">
        <div class="container-fluid">
            <pagetitle>Criar novo personagem</pagetitle>
            <block class="charcreator">
                <header>
                    A personalização do seu personagem é livre!
                    Uma maior gama de itens para personalização, está disponível para compra nas lojas de Los Santos.
                </header>
                <content>
                    <form>
                        <field>
                            <label>Personagem</label>
                            <input type="text" id="charname" placeholder="Nome do personagem" max="24" maxlength="24" required>
                            <help>Formato: Nome Sobrenome</help>
                        </field>
                        <gender>
                            <item class="male">
                                <i class="fa fa-male"></i>
                                <desc>Homem</desc>
                            </item>
                            <item class="female">
                                <i class="fa fa-female"></i>
                                <desc>Mulher</desc>
                            </item>
                        </gender>
                    </form>
                </content>
                <customization>
                    <category>
                        <header data-id="0">Cabeça <i class="fa fa-caret-down"></i></header>
                        <container>
                            <item>
                                <i class="bodyparts-face-of-a-woman-outline"></i>
                            </item>
                            <item>
                                <i class="bodyparts-eye-variant-with-enlarged-pupil"></i>
                            </item>
                            <item class="male">
                                <i class="bodyparts-young-male-black-short-hair-shape"></i>
                            </item>
                            <item class="female">
                                <i class="bodyparts-brunette-female-woman-long-hair"></i>
                            </item>
                        </container>
                    </category>
                    <category>
                        <header data-id="1">Superior <i class="fa fa-caret-down"></i></header>
                        <container>
                            <item class="male">
                                <i class="clothes-shirt"></i>
                            </item>
                            <item class="female">
                                <i class="clothes-shirt-2"></i>
                            </item>
                            <item class="female">
                                <i class="clothes-dress-3"></i>
                            </item>
                            <item>
                                <i class="clothes-trench-coat"></i>
                            </item>
                        </container>
                    </category>
                    <category>
                        <header data-id="2">Inferior <i class="fa fa-caret-down"></i></header>
                        <container>
                            <item>
                                <i class="clothes-jeans"></i>
                            </item>
                            <item class="male">
                                <i class="clothes-shorts"></i>
                            </item>
                            <item class="female">
                                <i class="clothes-shorts-1"></i>
                            </item>
                            <item class="female">
                                <i class="clothes-skirt"></i>
                            </item>
                            <item class="male">
                                <i class="clothes-underwear"></i>
                            </item>
                            <item class="male">
                                <i class="clothes-shoe"></i>
                            </item>
                            <item class="female">
                                <i class="clothes-high-heels"></i>
                            </item>
                        </container>
                    </category>
                    <category>
                        <header data-id="-1">Acessórios <i class="fa fa-caret-down"></i></header>
                        <container>
                                <item>
                                    <i class="clothes-tie"></i>
                                </item>
                                <item>
                                    <i class="clothes-scarf"></i>
                                </item>
                                <item>
                                    <i class="clothes-necklace"></i>
                                </item>
                                <item>
                                    <i class="clothes-glasses"></i>
                                </item>
                                <item>
                                    <i class="clothes-hat"></i>
                                </item>
                                <item class="female">
                                    <i class="bodyparts-ear-lobe-side-view-outline"></i>
                                </item>
                            </container>
                    </category>
                </customization>
                <footer class="right">
                    <error></error>
                    <loading><i class="fa fa-spinner faa-spin animated"></i></loading>
                    <button class="red" id="backBtn"><i class="fa fa-arrow-left"></i></button>
                    <button type="submit" id="submit">Criar</button>
                </footer>
            </block>
            <block class="configurator" id="">

            </block>
        </div>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/tether.min.js"></script>
        <script src="../js/pcfw.js"></script>
        <script>
            $("category container").hide();
            $("error").hide();
            $("customization").hide();

            $('input').keyup(function() {
                if($(this).hasClass('error')) {
                    $("error").hide();
                    $(this).removeClass('error');
                }
            });

            $('category header').click(function(){
                $(this).parent().siblings().find('container').slideUp();
                $(this).parent().toggleClass('active');
                $("i", this).toggleClass('fa-caret-down fa-caret-up');
                $(this).siblings('container').slideToggle();
                $(this).parent().siblings().removeClass('active');
                $(this).parent().siblings().find('header i').addClass('fa-caret-down').removeClass('fa-caret-up');

                if ($(this).data("id") != undefined)
                {
                    resourceCall("resource.Sounds.PlaySelectSound");
                    resourceCall("MoveCameraPosition", $(this).data("id"));
                }
            });

            var regx = /^[A-Z][a-z]+\s[A-Z][a-z]+$/;
            $('#submit').click(function(){
                if($("#charname").val().length < 8)
                    ShowError("Utilize no mínimo <b>8</b> caracteres.", "#charname");
                else if(!regx.test($("#charname").val()))
                    ShowError("Formato: <b>Nome Sobrenome</b>", "#charname");
                else if (!$("gender item").hasClass("active"))
                    ShowError("Selecione o sexo do personagem", "gender item");
            });

            $($('category container item')).on('click',function() {
                $("editproperty").show();
                $(this).addClass('active').siblings().removeClass('active');
            });

            $($('gender item')).on('click',function() {
                $(this).addClass('active').siblings().removeClass('active');
                $("customization").slideDown();

                if($(this).hasClass('male')) {
                    $('category container item.female').hide();
                    $('category container item.male').show();
                    resourceCall("ChangeCharacterGender", 0);
                } else {
                    $('category container item.male').hide();
                    $('category container item.female').show();
                    resourceCall("ChangeCharacterGender", 1);
                }
                resourceCall("resource.Sounds.PlaySelectSound");                
            });

            $('#backBtn').click(function ()
            {
                resourceCall("resource.Sounds.PlaySelectSound");
                resourceCall("GoBackToSelection");
            });

            function ShowError(message, input)
            {
                $('loading').hide();
                isSubmitting = false;

                $("error").html(message);
                $("error").show();
                $(input).addClass('error');
            }
        </script>
    </body>
</html>
