<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='../css/font-awesome.min.css'>
        <link rel='stylesheet' href='../css/pcfw.css'>
        <link rel='stylesheet' href='../css/gui.css'>
    </head>
    <body id="main">
        <div class="container-fluid">
            <block class="charselector">
                <header>
                    Selecione um personagem
                </header>
                <nochar>Nenhum personagem encontrado</nochar>
                <charlist>
                    <ul id="list">
                    </ul>
                </charlist>
            </block>
            <selectchar>
                <charinfo>                    
                </charinfo>
                <button><i class="fa fa-play"></i> Jogar</button>
            </selectchar>
        </div>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/tether.min.js"></script>
        <script src="../js/pcfw.js"></script>
        <script>
            var characters = null;

            function updateList(data)
            {
                characters = JSON.parse(data);
                var oneDay = 24 * 60 * 60 * 1000;
                for (var i = 0; i < characters.length; i++)
                {
                    var lastLogin = parseJsonDate(characters[i].LastLogin);
                    var diffDays = Math.floor(Math.abs((new Date().getTime() - lastLogin.getTime()) / oneDay));
                    var lastLoginMessage = (diffDays > 0) ? 'à ' + diffDays + ' dias atrás' : "hoje";

                    $("#list").append('<li data-id="' + i + '">' +
                        '<charname>' + characters[i].Name + '</charname>' +
                        '<lastlogin>Último acesso ' + lastLoginMessage + '</lastlogin>' +
                        '</li>');
                }


                if (characters.length > 0)
                {
                    $("selectchar").show();
                    UpdateCharacterInfo(0);
                    $('#list li:first-child').addClass("active");
                }

                if (characters.length < 6)
                    $("#list").append('<li class="addchar"><i class="fa fa-plus"></i> Adicionar novo personagem</li>');
            }

            $('charlist').on('click', 'li', function ()
            {
                if (characters == null)
                    return;

                var i = $(this).data("id");
                UpdateCharacterInfo(i);
                
                $(this).addClass('active').siblings().removeClass('active');
                
                resourceCall("ApplyCharacterFeatures", i);
            });

            $(document).ready(function ()
            {
                resourceCall("CharacterSelectorBrowserReady");
            });

            function UpdateCharacterInfo(i)
            {
                var bank = characters[i].Bank.toLocaleString('pt-BR');
                var money = characters[i].Money.toLocaleString('pt-BR');

                $('charinfo').html('<item>' +
                    '<stat>Nível</stat>' +
                    '<data>' + characters[i].Level + '</data>' +
                    '</item>' +
                    '<item>' +
                    '<stat>Emprego</stat>' +
                    '<data>Indisponível</data>' +
                    '</item>' +
                    '<item>' +
                    '<stat>Dinheiro</stat>' +
                    '<data class="money">$' + money + '</data>' +
                    '</item>' +
                    '<item>' +
                    '<stat>Banco</stat>' +
                    '<data class="money">$' + bank + '</data>' +
                    '</item>' +
                    '<item>' +
                    '<stat>Tempo Jogado</stat>' +
                    '<data>' + secondsToStr(characters[i].PlayedTime) + '</data>' +
                    '</item>');
            }

            function secondsToStr(seconds)
            {
                function numberEnding(number)
                {
                    return (number > 1) ? 's' : ' ';
                }

                var temp = Math.floor(seconds);
                var years = Math.floor(temp / 31536000);
                if (years)
                {
                    return years + ' ano' + numberEnding(years);
                }

                //TODO: Months! Maybe weeks?
                var days = Math.floor((temp %= 31536000) / 86400);
                if (days)
                {
                    return days + ' dia' + numberEnding(days);
                }

                var hours = Math.floor((temp %= 86400) / 3600);
                if (hours)
                {
                    return hours + ' hora' + numberEnding(hours);
                }

                var minutes = Math.floor((temp %= 3600) / 60);
                if (minutes)
                {
                    return minutes + ' minuto' + numberEnding(minutes);
                }

                var seconds = temp % 60;
                if (seconds)
                {
                    return seconds + ' segundo' + numberEnding(seconds);
                }
                return 'nunca jogou';
            }

            function parseJsonDate(jsonDateString)
            {
                return new Date(parseInt(jsonDateString.replace('/Date(', '')));
            }
        </script>
    </body>
</html>
