<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='../css/pcfw.css'>
        <link rel='stylesheet' href='../css/gui.css'>
    </head>
    <body id="main">
        <div class="container-fluid">
            <chat style="-webkit-user-select: none; user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                <container>
                    <messages class="selected" data-name='local'>
                    </messages>
                    <messages data-name='global'>
                    </messages>
                    <messages data-name="job">
                    </messages>
                    <messages data-name="admin">
                    </messages>
                    <messages data-name="private">
                    </messages>
                    <messages data-name="system">
                    </messages>
                    <ul>
                        <li class="active selected" data-name="local">Local</li>
                        <li class="active" data-name="global">Global</li>
                        <li class="active" data-name="job">Emprego</li>
                        <li class="active" data-name="admin">Admin</li>
                        <li class="active" data-name="private">Privado</li>
                        <li class="active" data-name="system">Sistema</li>
                    </ul>
                </container>
                <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus/>
            </chat>
        </div>

        <script src="../js/jquery.js"></script>
        <script src="../js/tether.js"></script>
        <script src="../js/pcfw.js"></script>
        <script src="../js/chat.js"></script>
    </body>
</html>
