<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='../css/pcfw.css'>
        <link rel='stylesheet' href='../css/gui.css'>
    </head>
    <body id="main">
        <div class="container-fluid">
            <chat style="-webkit-user-select: none; user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                <container>
                    <messages class="selected" data-name='Local'>
                    </messages>
                    <messages data-name='Global'>
                    </messages>
                    <messages data-name="Job">
                    </messages>
                    <messages data-name="Admin">
                    </messages>
                    <messages data-name="Private">
                    </messages>
                    <messages data-name="System">
                    </messages>
                    <ul>
                        <li class="active selected" data-name="Local">Local</li>
                        <li class="active" data-name="Global">Global</li>
                        <li class="active" data-name="Job">Emprego</li>
                        <li class="active" data-name="Admin">Admin</li>
                        <li class="active" data-name="Private">Privado</li>
                        <li class="active" data-name="System">Sistema</li>
                    </ul>
                </container>
                <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus/>
            </chat>
        </div>

        <script src="../js/jquery.js"></script>
        <script src="../js/tether.js"></script>
        <script src="../js/pcfw.js"></script>
        <script src="../js/chat.js"></script>
    </body>
</html>
