<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../css/icons-fa.css'>
    <link rel='stylesheet' href='../css/pcfw.css'>
    <link rel='stylesheet' href='../css/gui.css'>
</head>
<body id="main">
    <div class="container-fluid">
        <npc>
            <header>
                <!-- <button class="back"><i class="fa fa-angle-left"></i> Voltar</button> -->
                <!--<button class="hasMission"><i class="fa fa-comments"></i> Missão<i class="missionNot fa fa-exclamation"></i></button>-->
                <!--<button><i class="fa fa-shopping-cart"></i> Comércio</button>-->
                <button class="hasMission" id="exitBtn"><i class="fa fa-sign-out"></i> Sair</button>
            </header>
            <phrase></phrase>
            <answers>
            </answers>
        </npc>
    </div>

    <script src="../js/jquery.js"></script>
    <script src="../js/tether.js"></script>
    <script src="../js/pcfw.js"></script>
    <script>
        var npcid = null;
        var npc = null;
        function DrawDialog(npc_id, npc_data)
        {
            npcid = npc_id;
            npc = JSON.parse(npc_data);
            var id = npc.current_conversation;

            $('answers').html("");
            $('phrase').text(npc.dialogs[id].texts[npc.last_answer]);

            for (var i = 0; i < npc.dialogs[id].answers.length; i++)
            {
                $('answers').append("<button data-id=" + i + ">" + npc.dialogs[id].answers[i] + "</button>");
            }
        }

        $('answers').on('click', 'button', function ()
        {
            var answerid = $(this).data("id");
            resourceCall("SelectedAnswer", npcid, answerid);
        });

        $("#exitBtn").click(function(e)
        {
            $("#exitBtn").blur();
            resourceCall("HideNpcDialog");
        });        
    </script>
</body>
</html>
