<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='../css/icons-fa.css'>
        <link rel='stylesheet' href='../css/pcfw.css'>
        <link rel='stylesheet' href='../css/gui.css'>
        <link rel='stylesheet' href='../css/icons-clothes.css'>
        <link rel="stylesheet" href="../css/sweetalert.css">
    </head>
    <body id="main" class="test-enabled">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8 block-email">
                    <block class="email">
                        <maillist>
                            <unreaded>
                                <divider>Não lidos <count>3</count></divider>
                                <mail name="0x931">
                                    <sender><b>Autor:</b> Paradise City</sender>
                                    <tit><b>Assunto:</b> Bem vindo ao PC:RPG</tit>
                                    <desc>Seja bem vindo ao PC:RPG, <b>Lós</b>! Aqui está algumas dicas de como você pode iniciar</desc>
                                    <date>2 horas atrás</date>
                                </mail>
                                <mail name="0x932">
                                    <sender><b>Autor:</b> Paradise City</sender>
                                    <tit><b>Assunto:</b> Bem vindo ao PC:RPG</tit>
                                    <desc>Seja bem vindo ao PC:RPG, <b>Lós</b>! Aqui está algumas dicas de como você pode iniciar</desc>
                                    <date>2 horas atrás</date>
                                </mail>
                            </unreaded>
                            <readed>
                                <divider>Lidos <count>3</count></divider>
                                <mail>
                                    <sender><b>Autor:</b> Paradise City</sender>
                                    <tit><b>Assunto:</b> Bem vindo ao PC:RPG</tit>
                                    <desc>Seja bem vindo ao PC:RPG, <b>Lós</b>! Aqui está algumas dicas de como você pode iniciar</desc>
                                    <date>2 horas atrás</date>
                                </mail>
                                <mail>
                                    <sender><b>Autor:</b> Paradise City</sender>
                                    <tit><b>Assunto:</b> Bem vindo ao PC:RPG</tit>
                                    <desc>Seja bem vindo ao PC:RPG, <b>Lós</b>! Aqui está algumas dicas de como você pode iniciar</desc>
                                    <date>2 horas atrás</date>
                                </mail>
                            </readed>
                            <!--<nomails>Não há emails</nomails>-->
                        </maillist>
                        <content>
                            <mail name="0x931">
                                <info>
                                    <sender>Paradise City</sender>
                                    <date>2 horas atrás</date>
                                    <subject>Bem vindo ao PC:RPG</subject>
                                </info>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                </p>
                                <footer>
                                    <button id="newMail">Novo Email</button>
                                    <mailbuttons>
                                        <button><i class="fa fa-warning"></i></button>
                                        <button class="red"><i class="fa fa-trash"></i></button>
                                        <button class="blue">Responder</button>
                                    </mailbuttons>
                                </footer>
                            </mail>
                            <mail name="0x932">
                                <info>
                                    <sender>Paradise City</sender>
                                    <date>4 horas atrás</date>
                                    <subject>Bem vindo ao PC:RPG</subject>
                                </info>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                </p>
                            </mail>
                            <newmail>
                                <input placeholder="Destinatário" maxlength="25"/>
                                <input placeholder="Assunto" maxlength="128"/>
                                <textarea placeholder="Texto"></textarea>
                                <footer class="right">
                                    <button class="red" id="back"><i class="fa fa-arrow-left"></i></button>
                                    <button>Enviar</button>
                                </footer>
                            </newmail>
                            <nomail>
                                <text>Não há nenhum email selecionado.</text>
                                <button>Enviar email</button>
                            </nomail>
                        </content>
                    </block>
                </div>
            </div>
        </div>

        <script src="../js/jquery.js"></script>
        <script src="../js/tether.js"></script>
        <script src="../js/pcfw.js"></script>
        <script src="../js/sweetalert.js"></script>
        <script>
            $('maillist mail').click(function () {
                if (!$("content mail[name='" + $(this).attr("name") + "']").hasClass('selected')){
                    $('maillist mail').removeClass('selected');
                    $('content mail').removeClass('selected');
                    $('nomail').hide();
                    $('newmail').hide();

                    $(this).addClass('selected');
                    $("content mail[name='" + $(this).attr("name") + "']").addClass('selected');
                }
            });

            $('#newMail').click(function() {
                $('content mail.selected').hide();
                $('newmail').show();
                $('maillist mail').removeClass('selected');
                $('content mail').removeClass('selected');
            });

            $('#back').click(function() {
                $('newmail').hide();
                $('nomail').show();
            });

            $('nomail button').click(function() {
                $('nomail').hide();
                $('newmail').show();
            });
        </script>
    </body>
</html>
