<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='../css/icons-fa.css'>
        <link rel='stylesheet' href='../css/pcfw.css'>
        <link rel='stylesheet' href='../css/gui.css'>
        <link rel='stylesheet' href='../css/icons-clothes.css'>
        <link rel="stylesheet" href="../css/sweetalert.css">
    </head>
    <body id="main" class="test-enabled">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8 block-email">
                    <block class="email">
                        <maillist>
                            <unreaded>
                                <divider>Não lidos <count>3</count></divider>
                                <mail name="0x931">
                                    <sender><b>Autor:</b> Paradise City</sender>
                                    <tit><b>Assunto:</b> Bem vindo ao PC:RPG</tit>
                                    <desc>Seja bem vindo ao PC:RPG, <b>Lós</b>! Aqui está algumas dicas de como você pode iniciar</desc>
                                    <date>2 horas atrás</date>
                                </mail>
                                <mail name="0x932">
                                    <sender><b>Autor:</b> Paradise City</sender>
                                    <tit><b>Assunto:</b> Bem vindo ao PC:RPG</tit>
                                    <desc>Seja bem vindo ao PC:RPG, <b>Lós</b>! Aqui está algumas dicas de como você pode iniciar</desc>
                                    <date>2 horas atrás</date>
                                </mail>
                            </unreaded>
                            <readed>
                                <divider>Lidos <count>3</count></divider>
                                <mail>
                                    <sender><b>Autor:</b> Paradise City</sender>
                                    <tit><b>Assunto:</b> Bem vindo ao PC:RPG</tit>
                                    <desc>Seja bem vindo ao PC:RPG, <b>Lós</b>! Aqui está algumas dicas de como você pode iniciar</desc>
                                    <date>2 horas atrás</date>
                                </mail>
                                <mail>
                                    <sender><b>Autor:</b> Paradise City</sender>
                                    <tit><b>Assunto:</b> Bem vindo ao PC:RPG</tit>
                                    <desc>Seja bem vindo ao PC:RPG, <b>Lós</b>! Aqui está algumas dicas de como você pode iniciar</desc>
                                    <date>2 horas atrás</date>
                                </mail>
                            </readed>
                            <!--<nomails>Não há emails</nomails>-->
                        </maillist>
                        <content>
                            <mail name="0x931" class="selected">
                                <info>
                                    <sender>Paradise City</sender>
                                    <date>2 horas atrás</date>
                                    <subject>Bem vindo ao PC:RPG</subject>
                                </info>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                </p>
                            </mail>
                            <mail name="0x932">
                                <info>
                                    <sender>Paradise City</sender>
                                    <date>4 horas atrás</date>
                                    <subject>Bem vindo ao PC:RPG</subject>
                                </info>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br />
                                    <br />
                                </p>
                            </mail>
                        </content>
                    </block>
                </div>
            </div>
        </div>

        <script src="../js/jquery.js"></script>
        <script src="../js/tether.js"></script>
        <script src="../js/pcfw.js"></script>
        <script src="../js/sweetalert.js"></script>
        <script>
            $("content mail[name='0x931']").show();
            $('maillist mail').click(function ()
            {
                if (!$("content mail[name='" + $(this).attr("name") + "']").hasClass('selected'))
                {
                    $('maillist mail').removeClass('selected');
                    $('content mail').removeClass('selected');

                    $(this).addClass('selected');
                    $("content mail[name='" + $(this).attr("name") + "']").addClass('selected');
                }
            });
        </script>
    </body>
</html>
