<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='../css/icons-fa.css'>
        <link rel='stylesheet' href='../css/pcfw.css'>
        <link rel='stylesheet' href='../css/gui.css'>
        <link rel='stylesheet' href='../css/icons-clothes.css'>
        <link rel="stylesheet" href="../css/sweetalert.css">
    </head>
    <body id="main" class="test-enabled">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8 block-help">
                    <block class="help">
                        <menu>
                            <opt name="chat">
                                <icon><i class="fa fa-comments"></i></icon>
                                <tit>Chat</tit>
                            </opt>
                            <opt name="inventory">
                                <icon><i class="clothes-backpack"></i></icon>
                                <tit>Inventário</tit>
                            </opt>
                            <opt name="chars">
                            <icon><i class="fa fa-users"></i></icon>
                                <tit>Personagens</tit>
                            </opt>
                            <opt name="chat">
                                <icon><i class="fa fa-comments"></i></icon>
                                <tit>Chat</tit>
                            </opt>
                            <opt name="inventory">
                                <icon><i class="clothes-backpack"></i></icon>
                                <tit>Inventário</tit>
                            </opt>
                            <opt name="chars">
                            <icon><i class="fa fa-users"></i></icon>
                                <tit>Personagens</tit>
                            </opt>
                            <opt name="chat">
                                <icon><i class="fa fa-comments"></i></icon>
                                <tit>Chat</tit>
                            </opt>
                            <opt name="inventory">
                                <icon><i class="clothes-backpack"></i></icon>
                                <tit>Inventário</tit>
                            </opt>
                            <opt name="chars">
                            <icon><i class="fa fa-users"></i></icon>
                                <tit>Personagens</tit>
                            </opt>
                            <opt name="chat">
                                <icon><i class="fa fa-comments"></i></icon>
                                <tit>Chat</tit>
                            </opt>
                            <opt name="inventory">
                                <icon><i class="clothes-backpack"></i></icon>
                                <tit>Inventário</tit>
                            </opt>
                            <opt name="chars">
                            <icon><i class="fa fa-users"></i></icon>
                                <tit>Personagens</tit>
                            </opt>
                        </menu>
                        <content name="home" class="selected">
                            <tit>Início</tit>
                            <hr>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                <br />
                                <br />
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                <br />
                                <br />
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                <br />
                                <br />
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                <br />
                                <br />
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                <br />
                                <br />
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                <br />
                                <br />
                            </p>
                        </content>
                        <content name="chat">
                            <tit>Chat</tit>
                            <hr>
                            <p>
                                Chat
                            </p>
                        </content>
                        <content name="inventory">
                            <tit>Inventário</tit>
                            <hr>
                            <p>
                                Inventário
                            </p>
                        </content>
                        <content name="chars">
                            <tit>Personagens</tit>
                            <hr>
                            <p>
                                Personagens
                            </p>
                        </content>
                    </block>
                </div>
            </div>
        </div>

        <script src="../js/jquery.js"></script>
        <script src="../js/tether.js"></script>
        <script src="../js/pcfw.js"></script>
        <script src="../js/sweetalert.js"></script>
        <script>
            $("content[name='home']").show();
            $('menu opt').click(function ()
            {
                if (!$("content[name='" + $(this).attr("name") + "']").hasClass('selected'))
                {
                    $('menu opt').removeClass('selected');
                    $('content').removeClass('selected');

                    $(this).addClass('selected');
                    $("content[name='" + $(this).attr("name") + "']").addClass('selected');
                }
            });
        </script>
    </body>
</html>
