<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../css/pcfw.css'>
    <link rel='stylesheet' href='../css/gui.css'>
    <link rel='stylesheet' href='../css/icons-fa.css'>
    <link rel='stylesheet' href='../css/icons-clothes.css'>
    <link rel='stylesheet' href='../css/icons-bodyparts.css'>
    <link rel='stylesheet' href='../css/icons-media.css'>
    <link rel='stylesheet' href='../css/icons-food.css'>
    <link rel="stylesheet" href="../css/sweetalert.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
</head>
<body id="main">
    <div class="container-fluid">
        <block class="inventory">
            <content>
                <inventory>
                </inventory>
            </content>
            <footer class="right">
                Banco: <money id="bank"></money>
                <separator></separator>
                Carteira: <money id="wallet"></money>
            </footer>
        </block>
    </div>

    <script src="../js/jquery.js"></script>
    <script src="../js/jquery-ui.js"></script>
    <script src="../js/tether.js"></script>
    <script src="../js/pcfw.js"></script>
    <script src="../js/sweetalert.js"></script>
    <script>
        var items = null;
        var outside = false;
        var discarding_item = null;

        function OnUseItem(slot)
        {
            resourceCall("onUseItem", items[slot].Id);
        }

        function OnDiscardItem(slot, item)
        {
            discarding_item = item;
            resourceCall("onDiscardItem", items[slot].Id);
        }

        function OnItemDiscarded(success)
        {
            if (success && discarding_item != null)
            {
                $(discarding_item).empty();
                $(discarding_item).removeClass();
                swal("Deletado!", "Item descartado com sucesso.", "success");
                discarding_item = null;
            }
        }

        function DrawItems(items, cash)
        {
            $("inventory").html("");
            window.items = JSON.parse(items);
            for (var i = 0; i < 32; i++)
            {
                if (window.items == null)
                    $("inventory").append('<item class="empty"></item>');
                else
                {
                    if (window.items[i] != undefined)
                        AddItem(i, window.items[i]);
                    else
                        $("inventory").append('<item class="empty"></item>');
                }
            }

            cash = JSON.parse(cash);
            $('#bank').html("$" + cash[1]);
            $('#wallet').html("$" + cash[0]);
        }

        function AddItem(slot, item)
        {
            $("inventory").append('<item class="' + item.Rarity + ' ' + (item.Usable ? 'usable' : '') + ' ' + (item.Quantity > 1 ? 'stack' : '') + '" data-id="' + slot + '">' +
                '<i class="' + item.Icon + '"></i>' +
                (item.Quantity > 1 ? '<counter>' + item.Quantity + '</counter>' : '') +
                '<container>' +
                '<header>' +
                '<icon><i class="' + item.Icon + '"></i></icon>' +
                '<info>' +
                '<tit>' + item.Name + '</tit>' +
                '<subtit>' + item.Category + '</subtit>' +
                (item.Tradable ? '<subtit>Item vinculado a conta</subtit>' : '<subtit>Item negociável</subtit>') +
                (item.Rarity != "common" ? '<badge><i class="fa fa-star"></i></badge>' : '') +
                '</info>' +
                '</header>' +
                '<desc>' + item.Description + '</desc>' +
                (item.Usable ? '<commands><i class="media-mouse-right-button"></i> para usar</commands>' : '') +
                '</container>' +
                '</item>');
        }

        $("inventory").on("contextmenu", "item", function ()
        {
            var slot = $(this).data("id");
            if (!items[slot].Usable)
                return;
            else
            {
                if (!items[slot].NeedConfirmation)
                {
                    OnUseItem(slot);
                }
                else
                {
                    swal({
                        title: "Deseja usar este item?",
                        text: "Esta operação não tem volta.",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Ativar",
                        cancelButtonText: "Voltar",
                        closeOnConfirm: true
                    },
                    function ()
                    {
                        OnUseItem(slot);
                    });
                }
            }
            return;
        });

        $("inventory").sortable({
            placeholder: "ui-state-highlight",
            receive: function (e, ui)
            {
                outside = false;
            },
            out: function (e, ui)
            {
                outside = true;
            },
            over: function (e, ui)
            {
                outside = false;
            },
            beforeStop: function (event, ui)
            {
                var item = $(ui.item);
                var slot = $(ui.item).data("id");
                if (outside && slot != undefined)
                {
                    swal({
                        title: "Deseja descartar este item?",
                        text: "Você não poderá recuperar este item posteriormente.",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Descartar",
                        cancelButtonText: "Voltar",
                        closeOnConfirm: false
                    },
                    function ()
                    {
                        OnDiscardItem(slot, item);
                    });
                }
            },
        });

        document.addEventListener('contextmenu', event => event.preventDefault());
    </script>
</body>
</html>
