<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='../css/font-awesome.min.css'>
        <link rel='stylesheet' href='../css/pcfw.css'>
        <link rel='stylesheet' href='../css/gui.css'>
        <link rel='stylesheet' href='../css/animation.css'>
    </head>
    <body id="main">
        <div class="container-fluid">
            <div class="col-md-12">
                <launchpage>
                    <logo>Seja bem vindo a Los Santos!</logo>
                    <underlogo>Conheça a cidade paraíso e explore um universo de possibilidades!</underlogo>
                </launchpage>
                <block class="signin">
                    <header>
                        Olá, <username></username>!
                        <br />
                        Seja bem vindo de volta! <br />
                        Já estamos a <lastlogin></lastlogin> sem te ver por Los Santos. Sentimos sua falta!
                    </header>
                    <content>
                        <form>
                            <field>
                                <label>Social Club</label>
                                <input type="text" class="socialClub" placeholder="" readonly>
                            </field>
                            <field>
                                <label>Usuário</label>
                                <input type="text" id="l-username" placeholder="Usuário" max="24" maxlength="24" required>
                                <help>Você pode ativar o login automático quando estiver dentro do jogo.</help>
                            </field>
                            <field>
                                <label>Senha</label>
                                <input type="password" id="l-password" placeholder="Senha" max="32" maxlength="32" required>
                                <help><a href="#">esqueceu a senha?</a></help>
                            </field>
                        </form>
                    </content>
                    <footer class="right">
                        <error></error>
                        <loading><i class="fa fa-spinner faa-spin animated"></i></loading>
                        <button type="submit" id="l-submit">Logar</button>
                    </footer>
                </block>
                <block class="signup">
                    <header>
                        Olá, <username></username>!
                        <br />
                        Seja bem-vindo, preencha algumas informações antes de começar sua jornada por Los Santos.
                        <br />
                        Você só precisará acessar sua conta uma única vez.
                    </header>
                    <content>
                        <form>
                            <field>
                                <label>Social Club</label>
                                <input type="text" class="socialClub" readonly>
                                <help>Seu ID do social club é único e não poderá ser alterado.</help>
                            </field>
                            <field>
                                <label>Usuário</label>
                                <input type="text" id="r-username" placeholder="Usuário" max="24" maxlength="24" required>
                                <help>Você utilizará esse login para acessar o painel de controle.</help>
                            </field>
                            <field>
                                <label>Email</label>
                                <input type="email" id="r-email" placeholder="Email" required>
                                <help>Este email você utilizara para recuperar sua senha, ou receber novidades.</help>
                            </field>
                            <field>
                                <label>Senha</label>
                                <input type="password" id="r-password" placeholder="Senha" max="32" maxlength="32" required>
                                <help>Utilize no mínimo <b>6</b> caracteres.</help>
                            </field>
                            <field>
                                <label>Confirmar senha</label>
                                <input type="password" id="r-confirmpass" placeholder="Confirmar senha" max="32" maxlength="32" required>
                                <help>Ambas as senhas devem coincidir.</help>
                            </field>
                        </form>
                    </content>
                    <footer class="right">
                        <error></error>
                        <loading><i class="fa fa-spinner faa-spin animated"></i></loading>
                        <button type="submit" id="r-submit">registrar</button>
                    </footer>
                </block>
            </div>
        </div>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/tether.min.js"></script>
        <script src="../js/pcfw.js"></script>

        <script>
            var errorTimer = null;
            var isSubmitting = false;

            $('input').keyup(function() {
                if($(this).hasClass('error')) {
                    $("error").hide();
                    $(this).removeClass('error');
                }
            })

            $(document).ready(function ()
            {
                $("block.signin").hide();
                resourceCall("LoginBrowserReady");
            });


            function LoginAttempt(username, password)
            {
                if (isSubmitting)
                    $('loading').show();
                else if (username.length == 0)
                    ShowError("Nome de usuário não pode ficar em branco.", "#l-username");
                else if (password.length == 0)
                    ShowError("Insira uma senha.", "#l-password");

                else
                {
                    isSubmitting = true;
                    resourceCall("Login", username, password);
                }
            }

            function RegisterAttempt(username, password, email)
            {
                if (isSubmitting)
                    $('loading').show();
                else if (username.length == 0)
                    ShowError("Nome de usuário não pode ficar em branco.", "#r-username");
                else if (username.length < 3)
                    ShowError("Nome de usuário precisa ter no mínimo <b>3</b> caracteres.", "#r-username");

                else if (email.length == 0)
                    ShowError("Ter um email é obrigatório.", "#r-email");
                else if (!IsEmailValid(email))
                    ShowError("E-mail inválido.", "#r-email");


                else if (password.length == 0)
                    ShowError("Ter uma senha é obrigatório.", "#r-password");
                else if (password.length < 6)
                    ShowError("Sua senha precisa ter no mínimo <b>6</b> caracteres.", "#r-password");
                else if (password != $('#r-confirmpass').val())
                    ShowError("Senhas não são iguais.", "input:password");

                else
                {
                    isSubmitting = true;
                    resourceCall("Register", username, password, email);
                }
            }

            function ShowError(message, input)
            {
                $('loading').hide();
                isSubmitting = false;

                $("error").html(message);
                $("error").show();
                $(input).addClass('error');
            }

            function IsEmailValid(email)
            {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }

            function update(data)
            {
                var player = JSON.parse(data);
                $("username").html(player.name);
                $(".socialClub").attr("placeholder", player.socialClub);
            }

            $('#l-submit').click(function()
            {
                LoginAttempt($("#l-username").val(), $("#l-password").val());
            });

            $('#r-submit').click(function ()
            {
                RegisterAttempt($("#r-username").val(), $("#r-password").val(), $("#r-email").val());
            });

            $('#l-username').keydown(function (event)
            {
                var keypressed = event.keyCode || event.which;
                if (keypressed == 13)
                    LoginAttempt($("#l-username").val(), $("#l-password").val());
            });

            $('#l-password').keydown(function (event)
            {
                var keypressed = event.keyCode || event.which;
                if (keypressed == 13)
                    LoginAttempt($("#l-username").val(), $("#l-password").val());
            });
        </script>
    </body>
</html>
