<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='../css/icons-fa.css'>
        <link rel='stylesheet' href='../css/pcfw.css'>
        <link rel='stylesheet' href='../css/gui.css'>
        <link rel="stylesheet" href="../css/sweetalert.css">
    </head>
    <body id="main" class="test-enabled">
        <div class="container-fluid">
            <menu>
                <ul>
                    <li>Jogadores</li>
                    <li>Opções</li>
                    <li>Ajuda</li>
                    <li>Selecionar personagem</li>
                    <li>Sair do servidor</li>
                </ul>
            </menu>
        </div>

        <script src="../js/jquery.js"></script>
        <script src="../js/tether.js"></script>
        <script src="../js/pcfw.js"></script>
        <script src="../js/sweetalert.js"></script>
    </body>
</html>
