<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='../css/icons-fa.css'>
        <link rel='stylesheet' href='../css/pcfw.css'>
        <link rel='stylesheet' href='../css/gui.css'>
        <link rel="stylesheet" href="../css/sweetalert.css">
    </head>
    <body id="main">
        <div class="container-fluid">
            <npc>
                <header>
                    <button class="back"><i class="fa fa-angle-left"></i> Voltar</button>
                    <button class="hasMission"><i class="fa fa-comments"></i> Conversar<i class="missionNot fa fa-exclamation"></i></button>
                    <button><i class="fa fa-shopping-cart"></i> Comércio</button>
                    <button><i class="fa fa-sign-out"></i> Sair (esc)</button>
                </header>
                <phrase>A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A</phrase>
                <answers>
                    <button>Entediante, por que?!</button>
                    <button>Com certeza, melhor que o seu.</button>
                    <button>Foda-se</button>
                </answers>
            </npc>
        </div>

        <script src="../js/jquery.js"></script>
        <script src="../js/tether.js"></script>
        <script src="../js/pcfw.js"></script>
        <script src="../js/sweetalert.js"></script>
    </body>
</html>
