<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='../css/icons-fa.css'>
        <link rel='stylesheet' href='../css/pcfw.css'>
        <link rel='stylesheet' href='../css/gui.css'>
    </head>
    <body id="main" class="test-enabled">
        <div class="container-fluid">
            <block class="questtracker">
                <questlist>
                    <ul>
                        <li class="selected" name="active">Ativas</li>
                        <li name="concluded">Concluídas</li>
                    </ul>
                    <quests name="active">
                        <collector>
                            <desc><b>John Doe</b> Vinewood/LS</desc>
                            <quest name="uxqwe81" class="tracking">
                                <tit>Tiroteio na Groove Street</tit>
                                <subtit>Investigue o que está acontecendo na Groove Street. Há boatos que um novo gangster está na área e precisa ser controlado. Obtenha o nome do mesmo e entregue-o à polícia!</subtit>
                            </quest>
                            <quest name="tewfw">
                                <tit>Tiroteio na Groove Street</tit>
                                <subtit>Investigue o que está acontecendo na Groove Street</subtit>
                            </quest>
                        </collector>
                        <!--<noquest>Não há quest ativa</noquest>-->
                    </quests>
                    <quests name="concluded">
                        <noquest>Não há quest concluída</noquest>
                    </quests>
                </questlist>
                <content>
                    <quest name="uxqwe81" class="selected">
                        <tit>Tiroteio na Groove Street</tit>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br />
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br />
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br />
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br />
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br />
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br />
                            <br />
                        </p>
                        <objectives>
                            <ul>
                                <li class="actual"><i class="fa fa-circle-o"></i> Objetivo em andamento</li>
                                <li><i class="fa fa-check"></i> Objetivo concluído</li>
                                <li><i class="fa fa-check"></i> Objetivo concluído</li>
                                <li><i class="fa fa-check"></i> Objetivo concluído</li>
                                <li><i class="fa fa-check"></i> Objetivo concluído</li>
                                <li><i class="fa fa-check"></i> Objetivo concluído</li>
                                <li><i class="fa fa-check"></i> Objetivo concluído</li>
                                <li><i class="fa fa-check"></i> Objetivo concluído</li>
                            </ul>
                        </objectives>
                        <rewards>
                        </rewards>
                        <footer class="right">
                            <button>Abandonar</button>
                            <button class="red">Parar de seguir</button>
                        </footer>
                    </quest>
                    <quest name="tewfw">
                        <tit>Tiroteio na Groove Street</tit>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br />
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br />
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br />
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br />
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br />
                            <br />
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br />
                            <br />
                        </p>
                        <objectives>
                            <ul>
                                <li class="actual"><i class="fa fa-circle-o"></i> Objetivo em andamento</li>
                                <li><i class="fa fa-check"></i> Objetivo concluído</li>
                                <li><i class="fa fa-check"></i> Objetivo concluído</li>
                                <li><i class="fa fa-check"></i> Objetivo concluído</li>
                                <li><i class="fa fa-check"></i> Objetivo concluído</li>
                                <li><i class="fa fa-check"></i> Objetivo concluído</li>
                                <li><i class="fa fa-check"></i> Objetivo concluído</li>
                                <li><i class="fa fa-check"></i> Objetivo concluído</li>
                            </ul>
                        </objectives>
                        <rewards>
                        </rewards>
                        <footer class="right">
                            <button>Abandonar</button>
                            <button class="blue">Seguir</button>
                        </footer>
                    </quest>
                    <!--<noquest>Nenhuma quest selecionada</noquest>-->
                </content>
            </block>
        </div>

        <script src="../js/jquery.js"></script>
        <script src="../js/tether.js"></script>
        <script src="../js/pcfw.js"></script>
        <script>
            $("quests[name='active']").addClass('selected');
            $('questlist ul li').click(function ()
            {
                if (!$("quests[name='" + $(this).attr("name") + "']").hasClass('selected'))
                {
                    $('questlist ul li').removeClass('selected');
                    $('quests').removeClass('selected');

                    $(this).addClass('selected');
                    $("quests[name='" + $(this).attr("name") + "']").addClass('selected');
                }
            });

            $('quests quest').click(function ()
            {
                if (!$("content quest[name='" + $(this).attr("name") + "']").hasClass('selected'))
                {
                    $('quests quest').removeClass('selected');
                    $('content quest').removeClass('selected');

                    $(this).addClass('selected');
                    $("content quest[name='" + $(this).attr("name") + "']").addClass('selected');
                }
            });
        </script>
    </body>
</html>
