<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='../css/pcfw.css'>
        <link rel='stylesheet' href='../css/gui.css'>
        <link rel='stylesheet' href='../css/icons-fa.css'>
        <link rel='stylesheet' href='../css/icons-clothes.css'>
        <link rel='stylesheet' href='../css/icons-bodyparts.css'>
        <link rel="stylesheet" href="../css/sweetalert.css">
    </head>
    <body id="main">
        <div class="container-fluid">
            <reward>
                <tit>Recompensa!</tit>
                <container>
                    <row>
                        <item>
                            <badge class="added"><i class="fa fa-plus"></i></badge>
                            <i class="fa fa-dollar"></i>
                            <desc class="money">$99,000</desc>
                        </item>
                        <item>
                            <i>XP</i>
                            <badge class="added"><i class="fa fa-plus"></i></badge>
                            <desc>experiência</desc>
                        </item>
                        <item>
                            <i class="fa fa-car"></i>
                            <badge class="unlocked"><i class="fa fa-unlock-alt"></i></badge>
                            <desc>veículo</desc>
                        </item>
                        <item>
                            <i class="clothes-hoodie"></i>
                            <badge class="unlocked"><i class="fa fa-unlock-alt"></i></badge>
                            <desc>roupa</desc>
                        </item>
                        <item>
                            <i class="fa fa-trophy"></i>
                            <badge class="unlocked"><i class="fa fa-unlock-alt"></i></badge>
                            <desc>título</desc>
                        </item>
                        <item>
                            <i class="fa fa-suitcase"></i>
                            <badge class="unlocked"><i class="fa fa-unlock-alt"></i></badge>
                            <desc>emprego</desc>
                        </item>
                    </row>
                </container>
            </reward>
        </div>

        <script src="../js/jquery.js"></script>
        <script src="../js/tether.js"></script>
        <script src="../js/pcfw.js"></script>
        <script src="../js/sweetalert.js"></script>
    </body>
</html>
